.wrapper {
    height: var(--default-layout-header-hight);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    position: fixed;
    top: 0;
    background: var(--white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.inner {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 300px;
}

.link-logo {
    font-size: 0;
}

.search-result,
.search {
    min-width: 415px;
}

.search {
    position: relative;
    padding: 0 8px;
}

.search-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0;
}

.search-title {
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.75);
    padding: 5px 12px;
}

.input-element {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;
    width: 306px;
    color: rgb(22, 24, 35);
    caret-color: var(--primary-color);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    appearance: textfield;
    &:focus ~ .input-border {
        display: block;
    }
    &:not(:placeholder-shown) ~ .search-btn svg {
        fill: rgba(22, 24, 35, 0.75);
    }
}

.input-border {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid rgba(22, 24, 35, 0.2);
    border-radius: 92px;
    z-index: -1;
}

.clear-input-btn,
.loading-input-btn {
    font-size: 0px;
}

.span-spliter {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
}

.search-btn {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    font-size: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: 0;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}

.search-icon-container {
    outline: none;
}

.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #333;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.btn-upload {
    display: flex;
    align-items: center;
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.upload-icon-plus {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.upload-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
}
